* {
    box-sizing: border-box;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    text-align: center;
  }
  
  .subtitle {
    text-align: center;
  }
  
  .userContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .userBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 60px;
    margin: 0 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  