* {
    box-sizing: border-box;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

body {
    min-width: 1000px;
}
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home{
    display: flex;
    justify-content: space-between;

  }
 .table {
  width: 100%;
  height: 100%;

  .issueList {
    height: 100%;
    overflow-y: auto;
  }

  .header {
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 10px;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 10px;
      border-bottom: 1px solid gray;
    }

    th {
      text-align: left;
    }

    tbody {
      tr:nth-child(even) {
        background-color: #f1f1f1;
      }
    }
  }
}

  .search-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(249, 255, 255);
    width: 100%;
    max-width: 900px;
    margin-top: 20px;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    flex-grow: 1;
    
  }
  
  .search-input {
    flex-grow: 1;
    padding-left: 0.5rem;
    margin-right: 10px;
    width: 300px;
    padding: 7px;
  }

  .search-form{
    min-width: 100px;
  }
  .search-icon{

    padding-left: 2px;
  top: 7.2rem;
  color: gray;
  padding-right: 4px
  }

  
  .search-button {
    background-color: #d8dee9;
    color: #008aa8;
    border: none;
    padding: 10px;
    
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    min-width: fit-content;
    justify-content: space-around;
    gap: 5px;
    display: inline-flex;
    margin: 10px;
  }
  .filter-container{
    display: flex;
    width: 85%;
    justify-content: center;
  }
  ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  .options{
    padding-top: 50px !important ;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  .profile-button {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  .profile {
    background-color: transparent;
    border: 0;
    min-width: 100px;
  }
  .bulk-icon{
    background-color: transparent;
  }
  .profile-button a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-left: 5px;
    background-color: none;
  }
  
  .profile-button i {
    font-size: 24px;
    color: #008aa8;
    margin-right: 5px;
  }
  
  .profile-button span {
    text-align: center;
    white-space: nowrap;
  }
  .issue-heading{
    color: #008aa8
  }
  
  .new-issue-button,
  .bulk-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .bulk-button i {
    font-size: 24px;
    padding: 5px;
    border-radius: 5px;
  }
  
  /* Sidebar.module.css */
.sidebar {
  width: 200px;
  padding: 10px;
}
.option{
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  flex: 1;
  padding: 0.4rem;
  text-align: left;
  border-left: #000;
  cursor: pointer;
  &:hover{
    background-color: #f9f9fb;
  }
  // border-left: 4px solid red;
  padding-left: 10px;

  .bug{
    border-left: 4px solid red;
    padding-left: 10px;
  }

}



.option.bug {
  border-left: 4px solid red !important;
}

.option.question {
  border-left: 4px solid blue;
}

.option.enhancement {
  border-left: 4px solid green;
}


.option.pending {
  border-left: 4px solid grey;
}

/* Estilos para gravedad */
.option.minor {
  border-left: 4px solid blue;
}

.option.normal {
  border-left: 4px solid green;
}

.option.normal2 {
  border-left: 4px solid orange;
}
.option.important {
  border-left: 4px solid orange;
}

.option.critical {
  border-left: 4px solid red;
}

.option.low {
  border-left: 4px solid green;
}

.option.high {
  border-left: 4px solid red;
}


.options ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.options li {
  margin-bottom: 10px;
}

.options button {
  width: 100%;
  text-align: left;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.buttonOps{
  justify-content: space-between;
  display: flex;
  padding: 10px;
}

.options button:hover {
  text-decoration: underline;
}

.subOptions ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.subOptions li {
  margin-bottom: 5px;
}

.title {
  font-weight: bold;
}
