* {
    box-sizing: border-box;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

.container{
  max-width: 80%;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
}

.detail-header{
  margin: 0 0 0.5rem;
}


.titleIssue{
  color: #2e3440;
  flex-grow: 1;
  // flex-direction: row;
  word-break: break-word;
}

.infoContainer{
  max-width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
  flex-direction: column;
}

.createdByContainer{
  justify-content: flex-end;
}
.descriptionIssue{
  margin: 3px;
}
.subjectIssue{
  color: black;
  flex-grow: 1;
  word-break: break-word;
  font-size: 25px;
  font-weight: 10px;
  font-weight: bold;
  color: #008aa8;
}
.createdBy{
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

a{
  color: #008aa8;
  text-decoration: none
}

.issuePage{
  width: 80%;
  display: flex;
  margin: 0;
  padding-top: 5rem;
  flex-direction: row;
}
.subOptions{
  width: 30%;
}

.subOptions ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.subOptions li {
  margin-bottom: 5px;
}

.dropdownText {
  /* Estilos para .dropdownText */
  font-size: 16px;
  color: #333;
}

.dropdownIcon {
  /* Estilos para .dropdownIcon */
  margin-left: 5px;
}

.dropdownMenu {
  /* Estilos para .dropdownMenu */
  list-style: none;
  padding: 0;
}

.options ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.options li {
  margin-bottom: 10px;
}
.buttonOps{
  justify-content: flex-start;
    display: flex;
    padding: 10px;
    width: 100%;
    text-align: center;
    background-color: transparent;
    border: 0;
    align-items: center;
}

li{
  margin-bottom: 10px !important;
  padding: 5px;
  &:hover{
    background-color: #f9f9fb;
  }
}
.option.bug {
  border-left: 4px solid red !important;
}

.option.question {
  border-left: 4px solid blue;
}

.option.enhancement {
  border-left: 4px solid green;
}


.option.pending {
  border-left: 4px solid grey;
}

/* Estilos para gravedad */
.option.minor {
  border-left: 4px solid blue;
}

.option.normal {
  border-left: 4px solid green;
}

.option.normal2 {
  border-left: 4px solid orange;
}
.option.important {
  border-left: 4px solid orange;
}

.option.critical {
  border-left: 4px solid red;
}

.option.low {
  border-left: 4px solid green;
}

.option.high {
  border-left: 4px solid red;
}

.issueBall{
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

